
section{
    padding: 20px;
}

.hero{
    display: flex;
    flex-direction: column;
    
}

.hero--photo{
    max-width: 400px;
    align-self: center; 
}

.hero > img{
    height: 500px;
}

.hero > h1{
    margin-bottom: 18px;
}